@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,600;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: aliceblue;
}

.App {
  background-color: #fff;

}

nav {
  background-color: #fff;
}

nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 6vh;
}

nav ul li {
  list-style: none;
  padding: 0 20px;
}

nav ul li a {
  color: #000;
  text-decoration: none;
  transition: all ease 0.3s;
  padding: 5px;
}

nav ul li a:hover {
  color: orange;
  transition: all ease 0.3s;
}

.header {
  background-color: #ffffff;
  color: white;
}

.header-container {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
}

.nav-elements ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-elements ul li {
  display: inline-block;
  margin-right: 20px;
}

.nav-elements ul li:last-child {
  margin-right: 0;
}

.nav-elements ul li a {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

.hamburger-menu {
  display: none; 
}

.hamburger-icon {
  width: 25px;
  height: 3px;
  background-color: rgb(0, 0, 0);
  margin: 5px 0;
}


.hero-container {
  background-image: url(./images/header-bg.jpeg);
  height: 80vh;
  display: flex;
  justify-content: center;
}

.hero-h1 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 2rem;
  color: orange;
}

.hero-h2 {
  text-align: center;
  margin: 20px 0;
  font-size: 3.5rem;
  color: #fff;
  width: 90%;
}

.hero-p {
  font-size: 20px;
  text-align: center;
  color: #fff;
}

.hero-buttons button {
  padding: 10;
  height: 60px;
  width: 170px;
  border-radius: 30px;
  outline: none;
  background-color: inherit;
  margin: 20px;
  font-size: 1rem;
  cursor: pointer;
  color: #fff;
  transition: all ease 0.3s;

}

.hero-buttons .no-background {
    transition: all ease 0.3s;
    border: 2px solid #fff;
}

.hero-buttons .no-background:hover {
  color: orange;
  border: 2px solid orange;
}

.services-section {
  margin: 100px 0 20px 0;
  width: 100%;
}

.services-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.services-main {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.services-h1 {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
  margin-bottom: 20px;
}

.services-p {
  font-size: 14px;
  text-align: center;
  font-weight: 300;
}

.services-h4-content {
  text-align: center;
  margin-top: 30px;
  padding: 10px 30px;
  background-color: #fff;
  border-left: 5px solid orange;
}

.services-h4-content>h4 {
  font-size: 14px;
  font-weight: 200;
}

.counter-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.all {
  display: flex;
}

.circle-wrap {
  display: grid;
  grid-template-columns: repeat(1, 220px); 
  grid-gap: 80px;
  margin-top: 100px;
  margin-left: 50px;
  width: 220px; 
  height: 220px; 
  background: aliceblue;
  border-radius: 50%;
}

.circle-wrap .circle .mask,
.circle-wrap .circle .fill-1,
.circle-wrap .circle .fill-2,
.circle-wrap .circle .fill-3,
.circle-wrap .circle .fill-4  {
  width: 220px; 
  height: 220px; 
  position: absolute;
  border-radius: 50%;
}

.circle-wrap .circle .mask {
  clip: rect(0px, 220px, 220px, 110px); 
}

.circle-wrap .inside-circle {
  width: 200px;
  height: 200px; 
  border-radius: 50%;
  background: aliceblue;
  line-height: 30px;
  text-align: center;
  margin-top: 10px;
  margin-left: 10px;
  color: rgb(0, 0, 0);
  position: absolute;
  z-index: 100;
  font-weight: 700;
  font-size: 1em;
}

.inside-circle-content {
  margin-top: 30px;
}

.inside-circle-content h1, span {
  font-size: 15px;
  font-weight: 100;
}


/* color animation */

/* 1st bar */
.mask .fill-1 {
  clip: rect(0px, 110px, 220px, 0px); 
  background-color: orange;
}

.mask.full-1,
.circle .fill-1 {
  animation: fill-1 ease-in-out 3s;
  transform: rotate(162deg); 
}

@keyframes fill-1 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(162deg);
  }
}

/* 2nd bar */
.mask .fill-2 {
  clip: rect(0px, 110px, 220px, 0px); 
  background-color: orange;
}

.mask.full-2,
.circle .fill-2 {
  animation: fill-2 ease-in-out 3s;
  transform: rotate(126deg); 
}

@keyframes fill-2{
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(126deg);
  }
}

/* 3rd progress bar */
.mask .fill-3 {
  clip: rect(0px, 110px, 220px, 0px); 
  background-color: orange;
}

.mask.full-3,
.circle .fill-3 {
  animation: fill-3 ease-in-out 3s;
  transform: rotate(144deg);
}

@keyframes fill-3{
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(144deg);
  }
}

/* 4th progress bar */
.mask .fill-4 {
  clip: rect(0px, 110px, 220px, 0px); 
  background-color: orange;
}

.mask.full-4,
.circle .fill-4 {
  animation: fill-4 ease-in-out 3s;
  transform: rotate(175deg); 
}

@keyframes fill-4{
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(175deg);
  }
}

.work-section {
  height: 50vh;
  margin: 100px 0 0 0;
  background-color: rgb(255, 255, 255);
}

.work-section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
}

.work-content {
  width: 100%;
  background-color: rgb(255, 255, 255);
}

.work-content h1 {
  text-align: center;
  font-size: 1.5rem;
  padding-bottom: 20px;
  letter-spacing: 10px;
  font-weight: 900;
}

.work-one {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.work-main-content {
  position: relative;
  width: 300px;
  max-height: 400px;
  margin: 1rem 0;
}

.image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  white-space: nowrap;
}

/* OVERLAY TOP */
.overlay-top {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: #ebd887;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: 0.5s ease;
}

.work-main-content:hover .overlay-top {
  bottom: 0;
  height: 100%;
}

/* OVERLAY BOTTOM */
.overlay-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #ebd98760;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: 0.5s ease;
}

.work-main-content:hover .overlay-bottom {
  height: 100%;
}

/* OVERLAY RIGHT */
.overlay-right {
  position: absolute;
  bottom: 0;
  left: 100%;
  right: 0;
  background-color: #ebd98771;
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: 0.5s ease;
}

.container:hover .overlay-right {
  width: 100%;
  left: 0;
}

/* OVERLAY LEFT */
.overlay-left {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #ebd887;
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: 0.5s ease;
}

.container:hover .overlay-left {
  width: 100%;
}
