
/* Responsive styles */
@media screen and (max-width: 768px) {
    .nav-elements ul li {
      display: block;
      margin: 10px 0;
    }

    .hamburger-menu {
        display: block; 
        background: none;
        border: none;
        cursor: pointer;
        float: right; 
        margin-top: 6px;
      }
    
      .menu {
        display: none; 
      }
    
      .menu.open {
        display: flex;
      }
      .menu.open li {
        padding: 5px;
        margin-top: 10px;
      }
    
      .header-container::after {
      content: "";
      display: table;
      clear: both;
      margin-bottom: 30px;
  }

  nav {
    height: 7vh;
  
  }
}